.Name
{
    background-color:#204051;
    font-style: normal;
    font-style: italic;
    font-style: oblique;
    font-style: oblique 10deg;
    height: 100%;
    color: white;
}
.Billing
{
    
    padding-left: 100px ;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;

    border-radius: 25px;
    background-color:#d1f5d3 ;
    align-content: space-around;

}
.custo-a
{
    padding: 10px 10px 10px 10px;
    align-self: start;
}
label 
{
    display: table-cell;
    margin-bottom: 10px;
}
.form-customer-info
{
    align-items: center;
}
