.Name
{
    background-color:#c70039;
    font-style: normal;
    font-style: italic;
    font-style: oblique;
    font-style: oblique 10deg;
    height: 100%;
    color: white;
}
.cover
img
{
	height:250px;
	width: 100%;
}